<!doctype html>
<html>
<head>
    <title>NaviHealth</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
    body {
        padding-top:80px;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
        	<img src="images/404.png" class="img-responsive" alt="Smiley face">
            <p>Back to <a href="/">home</a>.</p>
        </div>
    </div>
</body>
</html>
